@font-face {
    font-family: importFont;
    src: url(peignot.regular.ttf);
}
  
body{
    font-family: importFont;
}

h1 {
    font-family: importFont;
    font-size: 50px;
    color: #7c9aa0;
}

h3 {
    font-family: importFont;
    font-size: 35px;
    color: #7c9aa0;
}

/* container image */
.bg-img {
  background-image: url("banner.png");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* navbar */
nav {
      display: flex;
      justify-content: space-between;
      color: #7c9aa0;
      padding: 0px;

  }

  nav li {
    padding-right:30px;
    font-size: 25px;
    display:inline;
    
  }

  nav a {
    text-decoration:none;
  }
  
  nav a, nav a:visited, nav a:link {
      color: grey;
  }
  
  nav a:active {
      color: teal;
  }
  
  nav a:hover {
    border-left:3px solid #7c9aa0;
    color: teal;
  }
  
  ul.menu {
      display: flex;
      list-style: none;
  
  }

img{
  width: 100%;
}

.food{
  margin-left: 50px;
}

/* test boxes */
* {
  box-sizing: border-box;
  /* padding: 3px; */
  margin: 25px;
}

#coffee {
  background-color: #f5f1ea;
  padding-top: 25px;
  padding-bottom: 35px;

}

#smoothies {
  background-color: #f2e7de;
  padding-top: 25px;
  padding-bottom: 35px;

}

#pastries {
  background-color: #dee4e8;
  padding-top: 25px;
  padding-bottom: 35px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;

}

section {
  padding:0px;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
}


